@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

* {
  box-sizing: border-box;
}

:root {
  --Poppins-font: "Poppins", sans-serif;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
  --light-gray: rgba(255, 255, 255, 0.877);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  padding-left: 0.9em;
  background-color: rgba(0, 0, 0, 0);
}
.nav-link {
  padding-left: 8rem;
  text-decoration: none;
  color: rgb(104, 104, 104);
}
.nav-link:hover {
  text-decoration: none;
  color: black;
}
.nav-item:last-child {
  padding-right: 4em;
}
.nav-item {
  padding: 0.9em;
}
.row .col-md-7 {
  padding: 22vmin 1vmin;
  padding-bottom: 35vmin;
  margin-top: auto;
}
.row .col-md-5 {
  padding: 4.2vmin 1vmin;
}
