.navbar-brand {
  padding-left: 0.9em;
  background-color: rgba(0, 0, 0, 0);
}
.nav-link {
  padding-left: 0.8em;
  color: whitesmoke;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}
.nav-item:last-child {
  padding-right: 4em;
}
.nav-item {
  padding: 0.9em;
}
.logo {
  width: 80px;
  height: 80px;
}
